@page
@model RentalManagementSystem.Pages.Flats.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flat.Name" class="control-label"></label>
                <input asp-for="Flat.Name" class="form-control" />
                <span asp-validation-for="Flat.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.Number" class="control-label"></label>
                <input asp-for="Flat.Number" class="form-control" />
                <span asp-validation-for="Flat.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.Description" class="control-label"></label>
                <input asp-for="Flat.Description" class="form-control" />
                <span asp-validation-for="Flat.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.Rate" class="control-label"></label>
                <input asp-for="Flat.Rate" class="form-control" />
                <span asp-validation-for="Flat.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.BuildingId" class="control-label"></label>
                <select asp-for="Flat.BuildingId" class ="form-control" asp-items="ViewBag.BuildingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Flat.SubMeterId" class="control-label"></label>
                <select asp-for="Flat.SubMeterId" class ="form-control" asp-items="ViewBag.SubMeterId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
